<%= render 'layouts/notice' %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <div class="row">
        <div class="col-lg-5 jumbotron">
           <p>View reservation request pool </p>
           <h5>View and audit reservation requests online.</h5>
           <%= link_to 'View', staff_requests_path(@staff),
            class: "btn btn-primary", role:"button" %>
        </div>

        <div class="col-lg-5 col-lg-offset-1 jumbotron">
           <p>View rooms available information</p>
           <h5>Display the status of all classrooms, 
            search and make a new reservation request</h5>
           <%= link_to 'View', '/rooms/staff/'+ @staff.id.to_s, 
            class: "btn btn-primary", role:"button" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5 jumbotron">
           <p>Account Settings</p>
           <h5>Reset password, change avater and delete your account</h5>
           <%= link_to 'Settings', '/staffs/'+@staff.id.to_s+'/setting/', 
            class: "btn btn-primary", role:"button" %>
        </div>
      </div>

    </div>
  </div>
</div>



