<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "index6" %>
	<%= javascript_include_tag "index" %>
</head>
<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CRS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="feature.html">特色</a></li>
		<li><a href="help.html">帮助</a></li>
		<li><a href="about.html">关于我们</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<article class="a1 move-on">
		<nav class="content-nav">
			<ul>
				<li class="active" data-page="1"><a href="javascript:void(0);" title="1"></a></li>
			</ul>
		</nav>
		<section class="s11 move-on">
			<div class="inner">
				<div class="inner-content">
					<div class="inner-sub">
						<div class="inner-content">
							<h2>关于我们</h2>
							</br>
							<h2>本网站是三名2013级HIT学生软件工程课的project</h2>
							</br>
							<h2>我们致力于为全体哈工大师生服务</h2>
							</br>
							<h2>基于简化租借教室步骤，方便师生学习生活的考虑，我们建立了这个网站，希望能够为哈工大的发展贡献一份力量</h2>
							</br>
							<h2>2015年10月25日网站建设开始动工,初始主功能设定为校内教室租借，在实现初步目标后，我们将扩充网站功能，开辟社团活动区和新闻发布区等</h2>
							</br>
							<h2>希望访问者能够向我们提出宝贵的建议，我们将虚心学习，努力改善,争取有更大的提高</h2>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
</body>
</html>