<% provide(:title,'about') %>
<nav class="content-nav">
	<ul>
		<li class="active" data-page="1"><a href="javascript:void(0);" title="1"></a></li>
<!-- 	<li data-page="2"><a href="javascript:void(0);" title="2"></a></li> -->

	</ul>
</nav>
<section class="s11 move-on" id="about-1">
	<div class="inner">
		<div class="inner-content" >
			<h2>关于我们</h2>
			</br>
			<h2>本网站是三名2013级HIT学生软件工程课的project</h2>
			</br>
			<h2>我们致力于为全体哈工大师生服务</h2>
			</br>
			<h2>基于简化租借教室步骤，方便师生学习生活的考虑，我们建立了这个网站，希望能够为哈工大的发展贡献一份力量</h2>
			</br>
			<h2>2015年10月25日网站建设开始动工,初始主功能设定为校内教室租借，在实现初步目标后，我们将扩充网站功能，开辟社团活动区和新闻发布区等</h2>
			</br>
			<h2>希望访问者能够向我们提出宝贵的建议，我们将虚心学习，努力改善,争取有更大的提高</h2>
		</div>
	</div>
</section>
</article>
