<% provide(:title,'feature') %>
<nav class="content-nav">
	<ul>
		<li class="active" data-page="1"><a href="javascript:void(0);" title="1"></a></li>
		<li data-page="2"><a href="javascript:void(0);" title="2"></a></li>
		<li data-page="3"><a href="javascript:void(0);" title="3"></a></li>
		<li data-page="4"><a href="javascript:void(0);" title="4"></a></li>
	</ul>
</nav>
<section class="s11 move-on" id="feature-1">
	<div class="inner">
		<div class="inner-content">
			<h2>在这里，你能够实时查询所有教室的使用情况</h2>
			</br>
			</br>
			</br>
			<h2>CRS承诺向你们提供最精确，最实时的教室信息</h2>		
		</div>
	</div>
</section>

<section class="s12 move-down" id="feature-2">
	<div class="inner">
		<div class="inner-content">
			<h2>我们会在你注册网站后向你发送邮箱确认信息</h2>
			</br>
			</br>
			</br>
			<h2>申请者需要时常登录自己的个人邮箱查看注册及预约信息</h2>
		</div>
	</div>
</section>

<section class="s13 move-down" id="feature-3">
	<div class="inner">
		<div class="inner-content">
			<h2>CRS为每位用户设定了相同的个人初始信誉值，中途取消预约的用户会降低信誉值</h2>
			</br>
			</br>
			</br>
			</br>
			<h2>信誉值为0的用户将被关闭账号，每个月用户最多可取消4次预约</h2>
		</div>
	</div>
</section>

<section class="s14 move-down" id="feature-4">
	<div class="inner">
		<div class="inner-content" >
			<h2>申请者提交申请需要在预定日期前至少两天</h2>
			</br>
			</br>
			</br>
			<h2>申请得到回复时，CRS也将第一时间向你发出提醒</h2>
		</div>
	</div>
</section>
