<% provide(:title,'feature') %>
<nav class="content-nav">
	<ul>
		<li class="active" data-page="1"><a href="javascript:void(0);" title="1"></a></li>
		<li data-page="2"><a href="javascript:void(0);" title="2"></a></li>
		<li data-page="3"><a href="javascript:void(0);" title="3"></a></li>
		<li data-page="4"><a href="javascript:void(0);" title="4"></a></li>
	</ul>
</nav>
<section class="s11 move-on" id="feature-1">
	<div class="inner">
		<div class="inner-content">
			<h2>在这里，你能够实时查询所有教室的使用情况</h2>
			</br>
			</br>
			</br>
			<h2>CRS承诺向你们提供最精确，最实时的教室信息</h2>		
		</div>
	</div>
</section>

<section class="s12 move-down" id="feature-2">
	<div class="inner">
		<div class="inner-content">
			<h2>我们会在预约日期将至时向你发送提醒</h2>
			</br>
			</br>
			</br>
			<h2>如果申请者在预定时间后没有到来，预约将被取消，教室将在半小时后再次处于可租借状态</h2>
		</div>
	</div>
</section>

<section class="s13 move-down" id="feature-3">
	<div class="inner">
		<div class="inner-content">
			<h2>CRS为每位用户设定了相同的个人初始信誉值，连续三次履行预约的用户将提升信誉值，反之会造成信誉值下降</h2>
			</br>
			</br>
			</br>
			</br>
			<h2>信誉值高的用户提出的申请将有几率置于队列前排处理，信誉值过低的用户将被短暂冻结账户，无法进行租借操作</h2>
		</div>
	</div>
</section>

<section class="s14 move-down" id="feature-4">
	<div class="inner">
		<div class="inner-content" >
			<h2>申请者提交申请需要在预定日期前至少两天</h2>
			</br>
			</br>
			</br>
			<h2>申请得到回复时，CRS也将第一时间向你发出提醒</h2>
		</div>
	</div>
</section>

