<% provide(:title,'help') %>
<nav class="content-nav">
	<ul>
		<li class="active" data-page="1"><a href="javascript:void(0);" title="1"></a></li>
		<li data-page="2"><a href="javascript:void(0);" title="2"></a></li>
	<!-- 	<li data-page="3"><a href="javascript:void(0);" title="3"></a></li>
		<li data-page="4"><a href="javascript:void(0);" title="4"></a></li> -->
	</ul>
</nav>
<section class="s11 move-on" id="help-1">
	<div class="inner">
		<div class="inner-content" >
			<h2>常见问题解答</h2>
			<div class="question">
			<h2>Question:我的申请多长时间能够得到回复?</h2>
			</div>
			<div class="answer">
			<h2>Answer:一般在一天到两天左右由网站通知和电子邮件形式进行回复</h2>
			</br>
			</div>
			<div class="question">
			<h2>Question:申请优先度如何判定？</h2>
			</div>
			<div class="answer">
			<h2>Answer:根据申请类型（学术、社团活动等）及信誉值来综合判定</h2>
			</br>
			</div>
			<div class="question">
			<h2>Question:最晚可以在什么时候取消预约？</h2>
			</div>
			<div class="answer">
			<h2>Answer:约定时间两个小时前允许取消预约</h2>
			</br>
			</div>
			<div class="question">
			<h2>Question:冻结账户恢复功能的时间？</h2>
			</div>
			<div class="answer">
			<h2>Answer:被冻结的账户将在一周内无法进行租借行为，但允许进入讨论区及新闻区</h2>
			</div>	
		</div>

	</div>
</section>

<section class="s12 move-down" id="help-2">
	<div class="inner">
		<div class="inner-content" >
			<h2>如果对网站还有更多疑问，欢迎联系我们</h2>
			<h2>联系方式:</h2>
			<h3>哈尔滨工业大学英才学院1336101班</h3>
			<h3>田成(Arthur Tian)</h3>
			<h3>陈双(Richard Chen)</h3>
			<h3>杨光唯(Grady Yang)</h3>
			<h3>联系电话:</h3>
			<h4>18504508691</h4>
			<h3>e-mail:</h3>
			<h4>340370243@qq.com</h4>
		</div>
	</div>
</section>

