<% provide(:title,'index') %>
<nav class="content-nav">
	<ul>
		<li class="active" data-page="1"><a href="javascript:void(0);" title="1"></a></li>
		<li data-page="2"><a href="javascript:void(0);" title="2"></a></li>
		<li data-page="3"><a href="javascript:void(0);" title="3"></a></li>
		<li data-page="4"><a href="javascript:void(0);" title="4"></a></li>
	</ul>
</nav>
<section class="s11 move-on" id="index-1">
	<div class="inner" >
		</br>
		</br>
		<div class="col-xs-8 col-xs-offset-2"><h1>HIT Classroom Reservation System</h1></div>
		</br>
		</br>
		</br>
		</br>
		</br>
		<div class="inner-title" >
			</br>
			</br>
			</br>
			<% if !signed_in? %>
				<a href="/login"><input type="button" value="Log in" style="background-color: DeepSkyBlue;color: white;font-size: 25px;border: 0;width:200px;height:50px;padding-right:"></a>			
				<a href="/signup"><input type="button" value="Sign up" style="background-color: DeepSkyBlue;color: white;font-size: 25px;border: 0;width:200px;height:50px;"></a>
			<% end %>
		</div>
	</div>
</section>

<section class="s12 move-down" id="index-2">
	<div class="inner">
		<div class="inner-content" >
			<h2>还在为借不到教室而烦恼吗？</h2>
			<h2>欢迎使用CRS网站</h2>
			<h2>你只需要:</h2>
			</br>
			</br>
			<h3>·点击注册</h3>
			<h3>·申请教室</h3>
			<h3>·等待回复</h3>
			</br>
			</br>
			<h2>就能获得专属的教室使用权</h2>		
		</div>
	</div>
</section>

<section class="s13 move-down" id="index-3">
	<div class="inner">
		<div class="inner-content">
			<h2>想要展示你的个性？</h2>
			<h2>欢迎使用CRS网站</h2>
			<h2>你只需要：</h2>
			</br>
			</br>
			<h3>·修改资料</h3>
			<h3>·添加头像</h3>
			</br>
			</br>
			<h2>就能上传你的专属头像</h2>
		</div>
	</div>
</section>

<section class="s14 move-down" id="index-4">
	<div class="inner">
		<div class="inner-content">
			<h2>想要确保租借平台的可信度？</h2>
			<h2>欢迎使用CRS网站</h2>
			<h2>我们提供：</h2>
			</br>
			</br>
			<h3>·邮箱确认</h3>
			<h3>·职员邀请码</h3>
			</br>
			</br>
			<h2>让你在使用中更加放心</h2>
		</div>
	</div>
</section>
	

