<!DOCTYPE html>
<html>
<head>	
	<%= stylesheet_link_tag "index" %>
	
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf8">
</head>
<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CRS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="feature.html">特色</a></li>
		<li><a href="help.html">帮助</a></li>
		<li><a href="about.html">关于我们</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<article class="a1 move-on">
		<nav class="content-nav">
			<ul>
				<li class="active" data-page="1"><a href="javascript:void(0);" title="1"></a></li>
				<li data-page="2"><a href="javascript:void(0);" title="2"></a></li>
				<li data-page="3"><a href="javascript:void(0);" title="3"></a></li>
				<li data-page="4"><a href="javascript:void(0);" title="4"></a></li>
			</ul>
		</nav>
		<section class="s11 move-on">
			<div class="inner">
				</br>
				</br>
				<div class="inner-title"><h1>哈工大教室借用系统</h1></div>
				</br>
				</br>
				</br>
				</br>
				</br>
				<div class="inner-title">
						</br>
						</br>
						</br>
						<a href="login.html"><input type="button" value="登录" style="background-color: DeepSkyBlue;color: white;font-size: 25px;border: 0;width:200px;height:50px;"></a>
						
						<a href="signup.html"><input type="button" value="注册" style="background-color: DeepSkyBlue;color: white;font-size: 25px;border: 0;width:200px;height:50px;"></a>

				</div>
			</div>
		</section>
		<section class="s12 move-down">
			<div class="inner">
				<div class="inner-content">
					<div class="inner-sub">
						<div class="inner-content1">
							<h2>还在为借不到教室而烦恼吗？</h2>
							<h2>欢迎使用CRS网站</h2>
							<h2>你只需要:</h2>
							</br>
							</br>
							<h3>·点击注册</h3>
							<h3>·申请教室</h3>
							<h3>·等待回复</h3>
							</br>
							</br>
							<h2>就能获得专属的教室使用权</h2>		
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="s13 move-down">
			<div class="inner">
				<div class="inner-content">
					<div class="inner-sub">
						<div class="inner-content1">
							<h2>厌倦了拉横幅，贴标语介绍社团活动？</h2>
							<h2>需要一个平台宣传招新？</h2>
							<h2>你只需要：</h2>
							</br>
							</br>
							<h3>·进入讨论区</h3>
							<h3>·发表专题贴</h3>
							</br>
							</br>
							<h2>就能让社团最新的消息传遍校园</h2>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="s14 move-down">
			<div class="inner">
				<div class="inner-content">
					<div class="inner-sub">
						<div class="inner-content">
							<h2>想要了解校园的最新资讯？</h2>
							<h2>想要获得前沿校方政策？</h2>
							<h2>你只需要：</h2>
							</br>
							</br>
							<h3>·进入新闻区</h3>
							<h3>·查看我们为您推送的校方公告</h3>
							</br>
							</br>
							<h2>就能了解得比联小络更多</h2>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		
	</article>
	<%= javascript_include_tag "index" %>
	<%= javascript_include_tag "hidden" %>
	
</body>
</html>