<%= render 'layouts/notice' %>

<form class="form-horizontal col-xs-12" action="/check_login" method="post" role="form" data-toggle="validator">
  <div class="form-group">
    <label for="email" class="control-label col-xs-2" >Email</label>
    <div class="col-xs-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="control-label col-xs-2" >Password</label>
    <div class="col-xs-10">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
  </div>

<div class="form-inline" id="Identity">
  <label for="identity" class="control-label col-xs-2 radio inline">Identity</label>
  <div class="col-xs-10">
    <label class="radio inline"> <input type="radio" name="identity" class="form-control radio" value="student"  onclick="change()" />Student</label>
    <label class="radio inline"> <input type="radio" name="identity" class="form-control radio" value="staff"  onclick="change()" />Staff</label>
    <span class="help-block with-errors"></span>
    <span class="help-block with-errors"></span>
  </div>
</div>
  <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit"  class="btn btn-primary">Login</button>
        </div>
  </div>
</form>
