<%= render 'layouts/notice' %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <div class="row">
        <div class="col-lg-5 jumbotron">
           <p>View datailed reservation history</p>
           <h5> Show all your reservation request in a list form </h5>
           <%= link_to 'View', '/applicants/'+@applicant.id.to_s+'/histroy/',
            class: "btn btn-primary", role:"button" %>
        </div>

        <div class="col-lg-5 col-lg-offset-1 jumbotron">
           <p>View rooms available information</p>
           <h5>Display the status of all classrooms, 
            search and make a new reservation request</h5>
           <%= link_to 'View', '/rooms/applicant/'+ @applicant.id.to_s, 
            class: "btn btn-primary", role:"button" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5 jumbotron">
           <p>Account Settings</p>
           <h5>Reset password, change avater and delete your account</h5>
           <%= link_to 'Settings', '/applicants/'+@applicant.id.to_s+'/setting/', 
            class: "btn btn-primary", role:"button" %>
        </div>
      </div>

    </div>
  </div>
</div>


