<p>
  <b>Room:</b>
  location:
  <%= @request.location %>
</p>

<p>
  <b>Size:</b>
  <%= @roomsize[@request.size] %>
</p>
<p>
  <b> Building</b>
	<%= @buildings[@request.building]%>
</p>

<% str='/applicants/'+@applicant.id.to_s+'/requests/'+@request.id.to_s+'/cancel/'%>
<p>.......................................................................</p>
<td><%= link_to 'cancel', str,:method => :get%></td>