html{
	overflow-y:scroll;
}
body{
	font-family:'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
  padding-top: 60px;
}
section{
	overflow:auto;
}
textarea{
	resize:vertical;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/*#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}*/
.navbar-brand{
  padding-top: -5px;
}
#form{
  background-image: url("signup.jpg");
  padding-top: 100px;
/*  padding-left: 300px;
  padding-right: 300px;
*/
}
.form-control{
  width: 300px;
}
.help-block{
  padding-left: -50px;
  margin-left: 180px;
}
textarea{
  height: 20px;
}
/*table, td, th {
    border: 1px solid black;
}*/
.day-table {
  width:100%;
  border: 0px;
  border: 1px solid black;
}
.day-table td, .day-table th{
  border: 1px solid black;
}

#day-table-head td, #day-table-head tr{
  border: 0;
}
.cell{
  width:16%;
  height:10px;
}
/* label-info rgb(91,192,222)*/
/* label-success rgb(92,184,92)*/
/* label-danger rgb(217,83,79)*/
/* label-default rgb(119,119,119)*/
/*
<h4><span class="label label-info">Free </span>
       <span class="label label-success">Reserved</span>
       <span class="label label-danger">Waiting </span>
       <span class="label label-default">Class </span></h4>
*/
.cell-wait{
  background-color: rgb(217,83,79);  //
}
.cell-free{
  background-color: rgb(91,192,222);
}
.cell-class{
  background-color: rgb(119,119,119);
}
.cell-reserved{
  background-color: rgb(92,184,92); 

}
.table-container{
  padding-left: 0;
  padding-right: 0;
}
.avater{
  width:50px;
  height:50px;
  border-radius: 50%;
  overflow: hidden;
}