<nav class="navbar navbar-default navbar-bottom">
  <div class="container-fluid">
	<div class="col-md-offset-4 col-md-6">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
				<li><a href="/index">CRS</a></li>
				<li><a href="/index">&copy HIT-CRS</a></li>
				
				<li><a href="/help">HELP</a></li>
				<li><a href="/about">ABOUT US</a></li>
		  </ul>
	</div><!-- /.navbar-collapse -->
	</div>
  </div><!-- /.container-fluid -->
</nav>